name: Test

on:
  pull_request:
    branches:
    - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: CI
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Prepare
        run: npm run prepare
      - name: Test
        run: npm test
      - name: Build examples
        run: npm run build-examples
